nav {
  height: 70px;
  display: flex;
  padding: 20px 36px;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}

.nav--logo {
  max-width: 100px;
}

section{
  padding: 40px;
}

.hero{
  display: flex;
  flex-direction: column;
}

.hero--photo-grid{
  /* align-self: center; */
  padding-left: 150px;
  padding-right: 150px;
  padding-top: 20px;
}

@media only screen and (max-width: 768px) {
  /* for mobile and tablet: */
  .hero--photo-grid{
    padding: 10px;
  }

  section{
    padding: 20px;
  }  
}


.hero--header{
  font-size: xx-large;
  margin-bottom: 16px;

}

.hero--text {
  font-size: normal;
  margin-top: 0;
}

.card{
  width: 175px;
  font-size: 12px;
}

.card--image{
  width: 100%;
  border-radius: 20px;
}

.card--stats {
  display: flex;
  align-items: center;
}

.card--star {
  height: 14px;
}

.gray {
  color: #918E9B;
}